<section class="sd-pb-6">
  <div class="container">
    <service-desk-ui-section-header header="Редактировать вопрос"></service-desk-ui-section-header>
    <div class="question-form">
      <div class="ask-mainbar">
        <form [formGroup]="questionForm" *ngIf="questionForm">
          <service-desk-ui-question-form
            [questionForm]="questionForm"
            [question]="question"
            [submitted]="submitted"
          ></service-desk-ui-question-form>
          <div class="form-row align-items-center justify-content-center sd-mb-7">
            <button type="button" ngbAutofocus (click)="save()" [disabled]="loading" class="btn btn-primary">
              <span class="d-flex justify-content-center">
                <service-desk-ui-loading [loading]="loading" class="mr-1 text-body"></service-desk-ui-loading>Сохранить
              </span>
            </button>
            <button type="button" (click)="cancel()" class="btn btn-gray-white ml-3">Отменить</button>
          </div>
        </form>
        <p>
          Внимание! Все изменения сохраняются в режиме "Черновик" и становятся доступны пользователям только после
          утверждения их администратором, Аксеновой Ольгой Владимировной (aksenovaov@iss-reshetnev.ru)
        </p>
      </div>
      <div class="markdown-helpbar">
        <service-desk-ui-markdown-help></service-desk-ui-markdown-help>
      </div>
    </div>
  </div>
</section>
