<service-desk-ui-loading [loading]="loading" size="48px"></service-desk-ui-loading>
<div *ngIf="category$ | async as category" @contentBlockAnimation>
  <div class="container">
    <section>
      <service-desk-ui-section-header [header]="category.name"></service-desk-ui-section-header>
      <div class="sd-category-list">
        <ul class="sd-list-masonry sd-list-masonry-sm-6 sd-list-masonry-md-4 list-unstyled">
          <li *ngFor="let service of category.services; trackBy: trackByService">
            <a [routerLink]="['services', service.id]" [innerHtml]="service.name"></a>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <div class="jumbotron bg-render-unmasked border-top sd-p-3 mb-0">
    <div class="container">
      <service-desk-ui-claims-page-content [services]="category.services"></service-desk-ui-claims-page-content>
    </div>
  </div>
  <div class="jumbotron bg-render-unmasked border-top sd-p-3 mb-0">
    <div class="container">
      <section>
        <service-desk-ui-section-header header="Часто задаваемые вопросы"></service-desk-ui-section-header>
        <div class="sd-dlist-divider-b">
          <service-desk-ui-question-page-content
            *ngFor="let ticket of category.tickets; trackBy: trackByTicket"
            [data]="ticket"
            [showFlags]="false"
          >
          </service-desk-ui-question-page-content>
        </div>
      </section>
    </div>
  </div>
</div>
