<section>
  <service-desk-ui-section-header header="Мои заявки"></service-desk-ui-section-header>
  <service-desk-ui-loading [loading]="loading.initialization" size="48px"></service-desk-ui-loading>

  <div
    *ngIf="!loading.initialization && !isAnyClaimsExists()"
    @contentBlockAnimation
    class="d-flex justify-content-start align-items-center"
  >
    <span>Заявки отсутствуют</span>
    <a id="newClaim" routerLink="/claims/new" class="btn btn-primary ml-4">Создать заявку в свободной форме</a>
  </div>

  <div *ngIf="!loading.initialization && isAnyClaimsExists()">
    <a id="newClaim" routerLink="/claims/new" class="btn btn-primary mb-3">Создать заявку в свободной форме</a>
    <service-desk-ui-filters [data]="statuses" (changeFilter)="filterChanged($event)"></service-desk-ui-filters>
    <service-desk-ui-claim-card-list
      [claims]="claims"
      [loading]="loading.table"
      (removeClaim)="claimRevoked()"
    ></service-desk-ui-claim-card-list>
    <!-- <service-desk-ui-paginator></service-desk-ui-paginator> -->
  </div>
</section>
