<section class="sd-pb-6" *ngIf="service" @contentBlockAnimation>
  <div class="container">
    <div class="d-flex flex-row align-items-start">
      <service-desk-ui-section-header [header]="service.name" class="mr-auto"></service-desk-ui-section-header>
      <a id="adminMode" *libAuthorize="[service, 'newTicket']" routerLink="admin/tickets" class="btn btn-danger"
        >Режим администратора</a
      >
    </div>
    <service-desk-ui-responsible-user-details
      class="responsibles-block"
      [users]="service.responsibleUsers"
      label="Ответственные за услугу"
    >
    </service-desk-ui-responsible-user-details>
    <section class="sd-dlist-divider-b">
      <!-- <h2>Вопросы</h2> -->
      <div class="mt-2">
        <p *ngIf="!service.questions.length" class="search-title">Список вопросов пуст</p>
        <service-desk-ui-question-page-content
          *ngFor="let question of service.questions; trackBy: trackByTicket"
          [data]="question"
          [showFlags]="showTicketFlags"
        ></service-desk-ui-question-page-content>
      </div>
    </section>
    <!-- <section class="sd-dlist-divider-b">
      <h2>Заявки</h2>
      <div class="mt-2">
        <p *ngIf="!service.claimForms.length" class="search-title">Список заявок пуст</p>
        <service-desk-ui-claim-form-page-content *ngFor="let case of service.claimForms; trackBy: trackByTicket" [data]="case"></service-desk-ui-claim-form-page-content>
      </div>
    </section> -->
  </div>
</section>
